[run]
omit =
  atat/routes/dev.py
  atat/domain/audit_log.py
  atat/models/mixins/auditable.py
  atat/models/audit_event.py
branch = True

[report]
exclude_lines =
  pragma: no cover
  if app.config.get("USE_AUDIT_LOG", False)
  def event_details
  def history
  def resource_type
  def renderAuditEvent
  def activity_history
