.error-page {
  max-width: $max-page-width;

  .panel {
    box-shadow: none;
    background-color: unset;
    border: none;
    max-width: 475px;
    margin: auto;

    &__heading {
      text-align: center;
      padding: $gap 0;

      hr {
        border: 1px solid $color-red;
      }

      h1 {
        margin-bottom: $gap;
      }
    }
  }

  .icon {
    @include icon-size(60);
  }
}
