.action-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: $gap * 4;
  margin-bottom: $gap * 4;

  &--tight {
    margin-top: $gap * 2;
  }

  .usa-button,
  a {
    margin: 0 0 0 $gap;
    cursor: pointer;

    @include media($medium-screen) {
      margin: 0 0 0 ($gap * 2);
    }
  }

  &:last-child {
    margin-bottom: $gap * 3;
  }

  &__action {
    &--left {
      margin-left: 0 !important;
      margin-right: auto !important;
    }
  }
}

.action-group-footer {
  padding-top: $gap;
  padding-bottom: $gap;
  padding-right: $gap * 4;
  position: fixed;
  bottom: $footer-height;
  left: 0;
  background: white;
  border-top: 1px solid $color-gray-lighter;
  z-index: 1;
  width: 100%;
  height: $action-footer-height;

  &.action-group-footer--expand-offset {
    padding-left: $sidenav-expanded-width;
  }

  &.action-group-footer--collapse-offset {
    padding-left: $sidenav-collapsed-width;
  }

  .action-group-footer--container {
    @extend .action-group;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $large-spacing;
    max-width: $max-panel-width;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
