{% extends "base.html" %}

{% block title %}Under Maintenance{% endblock %}
{% block header %}{% endblock %}

{% block body %}

    <div class="um-card">
      {{ Icon('tools') }}
      <h1>ATAT is currently under maintenance</h1>
      <div>We apologize for the inconvenience and we thank you for your patience.</div>
      <div>We’ll be back online shortly!</div>
      <div>If you have any questions, please contact <a href="mailto:info@cloud.mil">info@cloud.mil</a></div>
    </div>

{% endblock %}
{% block footer %}{% endblock %}
