terraform {
  required_version = ">= 0.13"

  backend "azurerm" {
    resource_group_name  = "${backend_resource_group_name}"
    storage_account_name = "${backend_storage_account_name}"
    container_name       = "${backend_state_container_name}"
    key                  = "${backend_state_container_key}"
  }

  required_providers {
    azuread = {
      source  = "hashicorp/azuread"
      version = "= 1.0.0"
    }

    azurerm = {
      source  = "hashicorp/azurerm"
      version = "= 2.35.0"
    }

    http = {
      source  = "hashicorp/http"
      version = "~> 2.0.0"
    }

    random = {
      source  = "hashicorp/random"
      version = "~> 3.0.0"
    }
  }
}

# Specifying a `provider` this way is deprecated. It is necessary in this 
# situation due to an issue with the `azurerm` provider. 
#
# https://www.terraform.io/docs/configuration/providers.html#version-an-older-way-to-manage-provider-versions
# https://github.com/terraform-providers/terraform-provider-azurerm/issues/7359
provider "azurerm" {
  subscription_id = "${operator_subscription_id}"
  client_id       = "${operator_client_id}"
  client_secret   = "${operator_client_secret}"
  tenant_id       = "${operator_tenant_id}"

  features {}
}

${remote_state_definition}